<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_twojtoolbox"
			section="component"
		/>
	</fieldset>
	<fieldset
		name="greetings"
		label="COM_TWOJTOOLBOX_CONFIG_SETTINGS_LABEL"
		description="COM_TWOJTOOLBOX_CONFIG_SETTINGS_DESC"
	>
		<field name="typeimg" type="list" default="png" label="COM_TWOJTOOLBOX_FILETYPE_LABEL" description="COM_TWOJTOOLBOX_FILETYPE_DESC">
			<option value="jpg">Jpeg</option>
			<option value="png">Png</option>
			<option value="gif">Gif</option>
		</field>
		
		<field name="twojpreview" type="list" default="0" label="COM_TWOJTOOLBOX_PREVIEW_LABEL" description="COM_TWOJTOOLBOX_PREVIEW_DESC">
			<option value="0">JENABLED</option>
			<option value="1">JDISABLED</option>
		</field>
		
		<field name="twojcache" type="list" default="1" label="COM_TWOJTOOLBOX_CACHE_LABEL" description="COM_TWOJTOOLBOX_CACHE_DESC">
			<option value="1">JENABLED</option>
			<option value="0">JDISABLED</option>
		</field>
		<field name="twojcachefolder" type="list" default="0" label="COM_TWOJTOOLBOX_CACHE_FOLDER_LABEL" description="COM_TWOJTOOLBOX_CACHE_FOLDER_DESC">
			<option value="0">Cache</option>
			<option value="1">Media</option>
		</field>
		<field name="twojnews" type="list" default="0" label="COM_TWOJTOOLBOX_NOTIFICATION_LABEL" description="COM_TWOJTOOLBOX_NOTIFICATION_DESC">
			<option value="0">JENABLED</option>
			<option value="1">JDISABLED</option>
		</field>
		<field
			name="sad"
			type="text"
			label="COM_TWOJTOOLBOX_SHOW_SAD_LABEL"
			description="COM_TWOJTOOLBOX_SHOW_SAD_DESC"
			default="1"
		 />
	</fieldset>
	
</config>

