/* gallery*1004*css*2j.gallery.base2jbrs2gallery*1004*css*2j.gallery.style02jbrs2gallery*1004*css*2j.gallery.innerstyle02jbrs2gallery*1004*css*2j.lb1 */
.twoj_gallery_class_ul, .twoj_gallery_class_wrapper{
	position: relative;
	margin: 0;
	padding: 0;
}
.twoj_gallery_loadimage{
	background: url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/loader.gif') no-repeat center;
	width: 160px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: -20px;
}
.twoj_hidden{ display: none; }
.twojtoolbox_clear{ clear: both;}
.twoj_gallery_class_ul .twoj_gallery_class_li{
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: transparent;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform-style: preserve-3d;
}
.twoj_gallery_class_ul .twoj_gallery_class_li > a{
	/*float: left;*/
	display: block;
   overflow: hidden;
   position: relative;
   text-align: center;
}
.twoj_gallery_class_ul .twoj_gallery_class_li > a > .twoj_gallery_hover{
	display: block;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.twoj_gallery_class_ul .twoj_gallery_class_li > a > img {
   display: block;
   position: relative;
   -webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform-style: preserve-3d;
}
.twoj_gallery_class_ul .twoj_gallery_hover .twoj_gallery_hover_info_title,
.twoj_gallery_class_ul .twoj_gallery_hover .twoj_gallery_hover_info_desc{
	display: block;
	position: relative;
}
.twoj_gallery_class_ul .twoj_gallery_hover .twoj_gallery_hover_info_text{
	display: inline-block;
}
.twoj_gallery_class_ul .twoj_gallery_class_li > a{}
.twoj_gallery_class_ul .twoj_gallery_class_li:hover{}
.twoj_gallery_class_ul .twoj_gallery_class_li a,
.twoj_gallery_class_ul .twoj_gallery_class_li a:link,
.twoj_gallery_class_ul .twoj_gallery_class_li a:hover,
.twoj_gallery_class_ul .twoj_gallery_class_li a:visited{
	background-color: transparent;
	text-decoration: none;
}

.twoj_gallery_class_ul .twoj_gallery_class_li .twoj_gallery_div_title {
   color: #000;
   text-align: center;
   vertical-align: middle;
   font-size: 17px;
   padding: 8px 0;
   margin: 0 auto;
   cursor: pointer;
   overflow: hidden;
   white-space: nowrap;
}.twoj_gallery_style0{}
.twoj_gallery_style0 .twoj_gallery_hover{}
.twoj_gallery_style0 img{}
.twoj_gallery_style0 .twoj_gallery_hover_info_title{}
.twoj_gallery_style0 .twoj_gallery_hover_info_desc{}
.twoj_gallery_style0 .twoj_gallery_hover_info_text{}
.twoj_gallery_style0 img{
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.twoj_gallery_style0 .twoj_gallery_hover{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.twoj_gallery_style0 .twoj_gallery_hover_info_title{
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.twoj_gallery_style0 .twoj_gallery_hover_info_text{
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.twoj_gallery_style0:hover img{
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.twoj_gallery_style0 .twoj_gallery_hover_info_desc{
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.twoj_gallery_style0 .twoj_gallery_hover_info_text{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.twoj_gallery_style0:hover .twoj_gallery_hover{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.twoj_gallery_style0:hover .twoj_gallery_hover_info_title,
.twoj_gallery_style0:hover .twoj_gallery_hover_info_desc,
.twoj_gallery_style0:hover .twoj_gallery_hover_info_text{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.twoj_gallery_style0:hover .twoj_gallery_hover_info_desc{
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.twoj_gallery_style0:hover .twoj_gallery_hover_info_text{
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}.twoj_gallery_hover_innerstyle0 .twoj_gallery_hover_info_title{
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   font-size: 14px;
   padding: 10px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.twoj_gallery_hover_innerstyle0 .twoj_gallery_hover_info_desc{
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
   text-decoration: none;
}
.twoj_gallery_hover_innerstyle0 .twoj_gallery_hover_info_text{
   text-decoration: none;
   font-size: 14px;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}#twoj_gallery_lb1_Overlay, #twoj_gallery_lb1_Wrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#twoj_gallery_lb1_Overlay{position:fixed; width:100%; height:100%;}
#twoj_gallery_lb1_MiddleLeft, #twoj_gallery_lb1_BottomLeft{clear:left;}
#twoj_gallery_lb1_Content{position:relative;}
#twoj_gallery_lb1_LoadedContent{overflow:auto;}
#twoj_gallery_lb1_Title{margin:0;}
#twoj_gallery_lb1_LoadingOverlay, #twoj_gallery_lb1_LoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#twoj_gallery_lb1_Previous, #twoj_gallery_lb1_Next, #twoj_gallery_lb1_Close, #twoj_gallery_lb1_Slideshow{cursor:pointer;}
.twoj_gallery_lb1_Photo{float:left; margin:auto; padding: 0; border:0; display:block; max-width:none;}
.twoj_gallery_lb1_Iframe{width:100%; height:100%; display:block; border:0;}
#twoj_gallery_lb1_Content, #twoj_gallery_lb1_LoadedContent{box-sizing:content-box;}
#twoj_gallery_lb1_Overlay{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/overlay.png') repeat 0 0;}
#twoj_gallery_lb1_TopLeft{width:21px; height:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -101px 0;}
#twoj_gallery_lb1_TopRight{width:21px; height:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -130px 0;}
#twoj_gallery_lb1_BottomLeft{width:21px; height:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -101px -29px;}
#twoj_gallery_lb1_BottomRight{width:21px; height:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -130px -29px;}
#twoj_gallery_lb1_MiddleLeft{width:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') left top repeat-y;}
#twoj_gallery_lb1_MiddleRight{width:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') right top repeat-y;}
#twoj_gallery_lb1_TopCenter{height:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/border.png') 0 0 repeat-x;}
#twoj_gallery_lb1_BottomCenter{height:21px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/border.png') 0 -29px repeat-x;}
#twoj_gallery_lb1_Content{background:#fff; overflow:hidden;}
.twoj_gallery_lb1_Iframe{background:#fff;}
#twoj_gallery_lb1_Error{padding:50px; border:1px solid #ccc;}
#twoj_gallery_lb1_LoadedContent{margin-bottom:28px;}
#twoj_gallery_lb1_Title{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#twoj_gallery_lb1_Current{position:absolute; bottom:4px; left:58px; color:#949494;}
#twoj_gallery_lb1_Slideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#twoj_gallery_lb1_Previous{position:absolute; bottom:0; left:0; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#twoj_gallery_lb1_Previous:hover{background-position:-75px -25px;}
#twoj_gallery_lb1_Next{position:absolute; bottom:0; left:27px; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#twoj_gallery_lb1_Next:hover{background-position:-50px -25px;}
#twoj_gallery_lb1_LoadingOverlay{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/loading_background.png') no-repeat center center;}
#twoj_gallery_lb1_LoadingGraphic{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/loading.gif') no-repeat center center;}
#twoj_gallery_lb1_Close{position:absolute; bottom:0; right:0; background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/controls.png') no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#twoj_gallery_lb1_Close:hover{background-position:-25px -25px;}

.twoj_gallery_lb1_IE #twoj_gallery_lb1_TopLeft,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_TopCenter,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_TopRight,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_BottomLeft,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_BottomCenter,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_BottomRight,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_MiddleLeft,
.twoj_gallery_lb1_IE #twoj_gallery_lb1_MiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_TopLeft{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderTopLeft.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_TopCenter{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderTopCenter.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_TopRight{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderTopRight.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_BottomLeft{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderBottomLeft.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_BottomCenter{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderBottomCenter.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_BottomRight{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderBottomRight.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_MiddleLeft{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderMiddleLeft.png');}
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_MiddleRight{background:url('/joomla_devel/caravancountry/components/com_twojtoolbox/plugins/gallery/1004/css/images/lb1/ie6/borderMiddleRight.png');}

.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_TopLeft,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_TopCenter,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_TopRight,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_BottomLeft,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_BottomCenter,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_BottomRight,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_MiddleLeft,
.twoj_gallery_lb1_IE6 #twoj_gallery_lb1_MiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}