/* WYSIWYG Selectable CSS */

.menu-responsive {
	display: none;
	width: 30px;
	height: 30px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    z-index: 9;
}