/* WYSIWYG Selectable CSS */

.menu-responsive {
	display: none;
	height: 30px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    padding: 5px 20px;
    text-align: right;
}